<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--

Page<Goods> findByPage(Goods goods);

List<Goods> findById(Long id);

    void createGoods(Goods goods);

    void updateGoods(Goods goods);

    void deleteGoods(Long id);-->
<mapper namespace="com.proaim.mapper.GoodsMapper">
    <resultMap id="baseMap" type="com.proaim.entity.Goods">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="VARCHAR"/>
        <result property="image" column="image" jdbcType="VARCHAR"/>
        <result property="brand" column="brand" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 查询所有商品 -->
    <select id="findAll" resultMap="baseMap">
        SELECT * FROM tb_goods
    </select>

    <!-- 条件查询商品 -->
    <!-- MySQL CONCAT()返回结果为连接参数产生的字符串。如有任何一个参数为NULL ，则返回值为 NULL。(使用like时使用,防止SQL注入) -->
    <select id="findByPage" parameterType="com.proaim.entity.Goods" resultMap="baseMap">
        SELECT * FROM tb_goods WHERE 1=1
        <if test="brand != null">
            AND brand LIKE CONCAT('%', #{brand}, '%')
        </if>
        <if test="title != null">
            AND title LIKE CONCAT('%', #{title}, '%')
        </if>
    </select>

    <!-- 根据id查询商品 -->
    <select id="findById" parameterType="Long" resultMap="baseMap">
        SELECT * FROM tb_goods WHERE id = #{id}
    </select>

    <!-- 添加商品 -->
    <insert id="createGoods" parameterType="com.proaim.entity.Goods">
        INSERT INTO tb_goods(title, price, image, brand)
        VALUES(#{title}, #{price}, #{image}, #{brand})
    </insert>

    <!-- 更新数据 -->
    <update id="updateGoods" parameterType="com.proaim.entity.Goods">
        UPDATE tb_goods
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="brand != null">
                brand = #{brand},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="deleteGoods" parameterType="Long">
        DELETE FROM tb_goods WHERE id = #{id}
    </delete>
</mapper>